body{
}
#project img{
  width:150px;
}
.project-item {
  width:160;
  display:inline-block;
}
#project{
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  background:rgb(0, 255, 133);
  padding-left:25px;
}
.title{
  color:red;
}
body {
  padding-top: 70px;
}
#topic{
  text-align: center;
}
#information_ul li{
  padding:10px;
}
